* {
    main-bg:            #2C2363E6;
    main-fg:            #CDC5FC;
    main-br:            #B84888;
    main-ex:            #7B3577;
    select-bg:          #D69FAF;
    select-fg:          #1A0008;
}
